<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/olton/Metro-UI-CSS/build/css/metro.min.css">
    <style>
        .page-break {
            display: block;
            page-break-before: always;
        }
    </style>
</head>

<body>
    <div id="logo">
        <h1 style="text-align: center;">LOGO</h1>
    </div>

    <table style="font-size: 12px;">
        <tr>
            <td>
                <div>DR. JORGE BAEZA DAZA</div>
                <div>Ortodoncia y Ortopedia Dentofacial</div>
                <div>Maestría en Ortodoncia - Universidad Intercontinental de México</div>
            </td>
        </tr>
    </table>
    <hr>
    
     <!-- datos paciente -->
    <table style="font-size: 12px;">
        <tr>
            <td>
                <img src='{#image 23695606}' width="120">
            </td>
            <td style="padding-left: 70px;">
                <div style="margin-bottom: 10px;">
                    <strong>PACIENTE:</strong> RAFAEL PIRES DA RISA DUARTE - 35 años</div>
                <div style="margin-bottom: 10px;">
                    <strong>FECHA:</strong> 04 DE SEPTIEMBRE DE 2017</div>
                <div>
                    <strong>MOTIVO DE CONSULTA:</strong> "
                    <i>ENDEREZAR MIS DIENTES</i>"</div>
            </td>
        </tr>
    </table>

    <!-- lista de problemas -->
    <h5>LISTA DE PROBLEMAS</h5>
    
</body>

</html>