<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/olton/Metro-UI-CSS/build/css/metro.min.css">
</head>

<body>
    <hr>
    <p style="text-align: center;">Bulnes 322 - Chillán - Fono/Fax: (56)(42)227209-Chillán- Correo electrónico: jabaezad@hotmail.com</p>
</body>