<div *ngIf="cargando" class="loader loader-pink"></div>
<div *ngIf="!cargando" id="content_wrapper" class="fullWidth2-wrapper rightSidenav2-wrapper">
  <!--// Sidenav component container-->
  <md-sidenav-container class="sidenav-container">
    <div class="content min-h-900">
      <header class="header-wrapper header-sm shadow-none">
        <h1>{{title}}</h1>
        <ul class="actions icons top-right">
          <li>
            <a href="javascript:void(0)" (click)="rightSidenav2.toggle()">
							<i class="zmdi zmdi-menu"></i>
						</a>
          </li>
        </ul>
      </header>

      <div class="row p-20 p-b-5 m-b-0">
        <app-detalles-paciente class="col-lg-12" [paciente]="paciente"></app-detalles-paciente>
      </div>

      <!-- examen -->
      <div class="">
        <form #exmaneFacial="ngForm" (submit)="onSubmit()" class="row p-20 m-t-0 p-t-0">
          <!-- examen postural -->
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-header border-bottom">
                <h3 class="card-title">Exámen Postural</h3>
              </div>
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-sm-4">
                    <md-checkbox name="meso" [(ngModel)]="examen.meso">Meso</md-checkbox>
                  </div>
                  <div class="col-sm-4">
                    <md-checkbox name="dolico" [(ngModel)]="examen.dolico">Dolico</md-checkbox>
                  </div>
                  <div class="col-sm-4">
                    <md-checkbox name="braqui" [(ngModel)]="examen.braqui">Braqui</md-checkbox>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col">
                    <label for="obs_postural">
                      <i class="zmdi zmdi-eye"></i>
                      Observaciones:
                    </label>
                    <textarea class="form-control" name="obs_postural" id="obs_postural" cols="30" rows="21" [(ngModel)]="examen.obs_postural"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /examen postural -->

          <!-- vista frontal -->
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-header border-bottom">
                <h3 class="card-title">Vista Frontal</h3>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="control-label">Linea 1/2 Facial</label>
                      <table class="table">
                        <thead>
                          <th>DER</th>
                          <th>IZQ</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="p-0">
                              <select class="form-control" name="linea_media_facial_der" id="linea_media_facial_der" [(ngModel)]="examen.linea_media_facial_der">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select>
                            </td>
                            <td class="p-0">
                              <select class="form-control" name="linea_media_facial_izq" id="linea_media_facial_izq" [(ngModel)]="examen.linea_media_facial_izq">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-6">
                      <label for="linea_media_dental" class="control-label">Linea 1/2 Dental</label>
                      <table id="linea_media_dental" class="table">
                        <thead>
                          <th>DER</th>
                          <th>IZQ</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="p-0">
                              <select class="form-control" name="linea_media_dental_der1" id="linea_media_dental_der1" [(ngModel)]="examen.linea_media_dental_der1">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select>
                            </td>
                            <td class="p-0">
                              <select class="form-control" name="linea_media_dental_izq1" id="linea_media_dental_izq1" [(ngModel)]="examen.linea_media_dental_izq1">
                                      <option value="0">0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                    </select>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-0">
                              <select class="form-control" name="linea_media_dental_der2" id="linea_media_dental_der2" [(ngModel)]="examen.linea_media_dental_der2">
                                      <option value="0">0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                    </select>
                            </td>
                            <td class="p-0">
                              <select class="form-control" name="linea_media_dental_izq2" id="linea_media_dental_izq2" [(ngModel)]="examen.linea_media_dental_izq2">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                              </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <!-- long L sup -->
                      <label for="long_l_sup" class="control-label">Long L Sup</label>
                      <select class="form-control" name="long_l_sup" id="long_l_sup" [(ngModel)]="examen.long_l_sup">
                          <option value="normal">Normal</option>
                          <option value="corto">Corto</option>
                          <option value="largo">Largo</option>
                        </select>
                      <!-- /long L sup -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <!-- ls_ant -->
                      <label for="ls_ant" class="control-label">LS Ant</label>
                      <select name="ls_ant" id="ls_ant" class="form-control" [(ngModel)]="examen.ls_ant">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                      <!-- /ls_ant -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <!-- ls_post -->
                      <label for="ls_post" class="control-label">LS Post</label>
                      <select name="ls_post" id="ls_post" class="form-control" [(ngModel)]="examen.ls_post">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                      <!-- /ls_post -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <label for="obs_asimetrias" class="control-label">Asimetrias</label>
                      <textarea class="form-control" name="obs_asimetrias" id="obs_asimetrias" cols="30" rows="10" [(ngModel)]="examen.obs_asimetrias"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /vista frontal -->

          <!-- vista perfil -->
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header border-bottom">
                <h3 class="card-title">Perfil</h3>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="row">
                        <div class="col-sm-12">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>Perfil</td>
                                <td>
                                  <md-radio-group name="perfil" [(ngModel)]="examen.perfil">
                                    <md-radio-button value="recto">Recto</md-radio-button>
                                    <md-radio-button value="concavo">Concavo</md-radio-button>
                                    <md-radio-button value="convexo">Convexo</md-radio-button>
                                  </md-radio-group>
                                </td>
                              </tr>
                              <tr>
                                <td>Frente</td>
                                <td>
                                  <md-radio-group name="frente" [(ngModel)]="examen.frente">
                                    <md-radio-button value="normal">Normal</md-radio-button>
                                    <md-radio-button value="abombada">Abombada</md-radio-button>
                                    <md-radio-button value="inclinada">Inclinada</md-radio-button>
                                  </md-radio-group>
                                </td>
                              </tr>
                              <tr>
                                <td>Nariz</td>
                                <td>
                                  <md-radio-group name="nariz" [(ngModel)]="examen.nariz">
                                    <md-radio-button value="normal">Normal</md-radio-button>
                                    <md-radio-button value="pequeña">Pequeña</md-radio-button>
                                    <md-radio-button value="grande">Grande</md-radio-button>
                                  </md-radio-group>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <label for="tercio_medio" class="control-label">Tercio 1/2</label>
                          <select name="tercio_medio" id="tercio_medio" class="form-control" [(ngModel)]="examen.tercio_medio">
                            <option disabled value=""></option>
                            <option value="-">-</option>
                            <option value="+">+</option>
                          </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <label for="nl" class="control-label">NL</label>
                          <select name="nl" id="nl" class="form-control" [(ngModel)]="examen.nl">
                            <option value="normal">Normal</option>
                            <option value="aumentado">Aumentado</option>
                            <option value="disminuido">Disminuido</option>
                          </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <label for="ml" class="control-label">ML</label>
                          <select name="ml" id="ml" class="form-control" [(ngModel)]="examen.ml">
                              <option value="normal">Normal</option>
                              <option value="aumentado">Aumentado</option>
                              <option value="disminuido">Disminuido</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <label for="labios" class="control-label">Labios</label>
                          <select name="labios" id="labios" class="form-control" [(ngModel)]="examen.labios">
                            <option value="normal">Normal</option>
                            <option value="incompetente">Incompetente</option>
                            <option value="bitrotrucivo">Bitrotrucivo</option>
                          </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <label for="menton" class="control-label">Menton</label>
                          <select name="menton" id="menton" class="form-control" [(ngModel)]="examen.menton">
                              <option value="normal">Normal</option>
                              <option value="aumentado">Aumentado</option>
                              <option value="disminuido">Disminuido</option>
                          </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <label for="mc" class="control-label">MC</label>
                          <select name="mc" id="mc" class="form-control" [(ngModel)]="examen.mc">
                              <option value="normal">Normal</option>
                              <option value="aumentado">Aumentado</option>
                              <option value="disminuido">Disminuido</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <label for="obs_perfil" class="control-label">
                            <i class="zmdi zmdi-eye"></i>
                            Observaciones:
                          </label>
                      <textarea class="form-control" name="obs_perfil" id="obs_perfil" cols="30" rows="10" [(ngModel)]="examen.obs_perfil"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /vista perfil -->

          <div class="col-sm-12">
            <div class="card">
              <div class="card-footer">
                <div class="row">
                  <button type="submit" class="btn btn-primary m-auto" mdRipple>
                        <i class="zmdi zmdi-save"></i>
                        Terminar Exámen
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /examen -->
    </div>

    <!--div class="row">
      <div class="col-lg-12">
        {{ examen | json }}
      </div>
    </div-->
  </md-sidenav-container>
</div>
